<section class="card">
  <!-- Links to specific itinerary by itinerary id -->
  <a class= href="/itinerary/{{id}}">
      
      
    

      <div class=" planAndDate">{{plan_name}}</div>

       <div class="planAndDate">
         <!--Data from the Calendar api-->
        {{format_date start_date}}
      </div>

    
      <div class="itineraryText" >{{description}}</div>
    </div>
    </div>
  </a>
</section>

