<section class="card">
  <!-- Links to specific itinerary by itinerary id -->
  <a href="/itinerary/{{id}}">
    <div class="row">
      <div class="col-md-6"></div>
      <h2>Your Itinerary</h2>
    </div>

    <div>{{plan_name}}</div>

    <div class="row">
      <!-- Data from the Calendar api-->
      {{format_date start_date}}
    </div>

    <div class="row">
      <p>{{description}}</p>
    </div>
  </a>
</section>