<div class="row">
  <div class="col-md-6">
    <h2>Add your trip dates</h2>

    <form class="form dates-form">
      <div class="form-group">
        <label for="starting-date">Start Date</label>
        <input class="form-input" type="date" id="starting-date" />
      </div>
      <div class="form-group">
        <label for="ending-date">End Date</label>
        <input class="form-input" type="date" id="ending-date" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Enter dates</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dates.js"></script>