<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roadtrip Planner</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="body">
  <div class="header">
    <div>Roadtrip<span>Planner</span></div>
    <h3>made&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;easy</h3>
</div>

<br>

<div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="button" value="Login">
    <input type="button" value="New member? Sign up here">
    <!-- possible new member sign up button -->
</div>
    
<script src="./js/login.js"></script>
</body>
</html>





{{!-- <div class="body"></div>
<link rel="stylesheet" href="./Assets/style.css">

<div class="header">
    <div>Roadtrip<span>Planner</span></div>
    <h3>made&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;easy</h3>
</div>

<br>

<div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="button" value="Login">
    <input type="button" value="New member? Sign up here">
    <!-- possible new member sign up button -->
</div> --}}
