<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    
<script src="./js/login.js"></script>



{{!-- <div class="body"></div>
<link rel="stylesheet" href="./Assets/style.css">

<div class="header">
    <div>Roadtrip<span>Planner</span></div>
    <h3>made&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;easy</h3>
</div>

<br>

<div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="button" value="Login">
    <input type="button" value="New member? Sign up here">
    <!-- possible new member sign up button -->
</div> --}}
